#form{

    background-color: lightgrey;
    border-style:  grey;
    padding: 10px;

}

#emessage{

background-color: rgb(233, 131, 131);
padding: 13px;
color: rgb(117, 33, 33);
margin: 30px;
border-radius: 5px;

}

#creditcards{

background-color: lightslategray;
height: auto;
display: flex;

border-radius: 5px;


}

footer{
display: flex;
justify-content: flex-end;
    background-color: lightgrey;
    padding: 12px;
    margin: 10px;
gap: 10px;
    
    
}

